@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450');

*{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: thistle;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(97, 53, 53);
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(199, 54, 14);
    transform-style: flat;
}

.myself {
    margin-left: 10%;
    margin-top: 5%;

}

.myself h1 {
    font-size: 50px;
    color: rgb(112, 72, 72);
    margin-bottom: 20px;
    margin-top: 10;

}

.myself p{
    color: rgb(10, 3, 3);
    line-height:  20px;
}

span{
    color: rgb(87, 19, 19);
}
.span1 {
    /* font-style: italic; */
    font-size: 45px;
}

/*Working on buttons*/

/* .myself button{
    background: rgb(24, 22, 22);
    display: inline-block;
    padding: 10px 20px;
    text-decoration: double;
    font-weight: bold;
    color: rgb(123, 116, 104);
    margin-left: 10%;
    border-radius: 5px;

} */


.btn {
    background: rgb(203, 140, 140);
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}
.btn1 {
    
    background: rgb(192, 161, 161);
    display: inline-block;
    padding: 10px 20px;
    text-decoration: double;
    font-weight: bold;
    color: rgb(71, 31, 31);
    margin: 30px 0;
    border-radius: 10px;
    border: 2px solid;
    align-self: center;
    transition: all 0.2s;

}

.btn2 {
    background: rgb(192, 161, 161);
    display: inline-block;
    padding: 10px 20px;
    text-decoration: double;
    font-weight: bold;
    color: rgb(71, 31, 31);
    margin: 30px 0;
    border-radius: 10px;
    border: 2px solid;
    align-self: center;
    transition: all 0.2s;

}

.btn2 :hover {
    /* color: rgb(117, 68, 68); */
    border-color: inherit;
    box-shadow: 1px 5px 3px 1px #353531;
    color: rgb(71, 31, 31,);
    /* transform: translate(-3px, -7px); */
}
.btn1 :hover {
    /* color: rgb(117, 68, 68); */
    border-color: inherit;
    box-shadow: 1px 5px 3px 1px #353531;
    color: rgb(71, 31, 31,);
    
}

/*Images */
.photos {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    
}

.photos img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}

.photos:hover .nice {
    left: 65%;
}
.photos:hover .portrait {
    right: 45%;
}

/* Section below the buttons */

.head2 {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-decoration-style: wavy;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.services {
    align-content: center;
}

body .container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: auto;
}

.container *{
    margin: auto;
    margin-top: 0;
    padding: 20px;
}
.container {
    display: flex;
}

.card {
    height: 400px;
    margin: 5px;
    margin-bottom: 10%;
    box-shadow: 5px 5px 5px 5px rgb(192, 191, 189);
    border-radius: 10px;
    overflow: visible;
    font-weight: 50px;
    bottom: 10%;
    padding: 5px 5px 5px 5px;
}

/* Images heading the second paragraph */
.container img {
    height:400px;
    width:100%;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/*For the image cards*/
.intro {
    height: 100px;
    width: inherit;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    margin-top: auto;
    margin-bottom: 20%;
    color: rgb(126, 55, 55);
}

.cardbtn {
    background-color: black;
    color: aliceblue;
    border-radius: 3px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px 100PX;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

/*Paragraph*/

.textparagraph2 {
    margin-top: 20%;
    margin-bottom: 25px;
    text-align: center;
}

.paragraph2 {
    padding: 10px 20px;
    font-style: italic;
}

footer {
    padding-bottom: 40px;
    padding-top: 40px;
    font-weight: bold;
    text-align: center;
    font-style: oblique;
}
hr {
    height: 2vh;
    min-width: max-content;
    background-color: rgb(178, 138, 85);
}

/* Section for the social media wrapper at head section */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  }
  .wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: none;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);

  }

  .wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    align-content: center;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
   
  }
  .wrapper .button:hover {
    height: 50px;
    width: 50px;
  }